.contrast {
  color:darkgrey;
}

.bright {
  color:gold;
}

body {
  background-color: gainsboro;
}

.mid {
  text-align: center;
  font-family: sans-serif;
}

.h {
  font-family: sans-serif;
}

.dog {
  display: flex;
  justify-content: space-around;
}


